@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="container" id="ResponseReceived">

        <h3> Thank you for your response </h3>

        <h4> We look forward to sharing our big day with you </h4>

        <h4> If you cannot make it, we hope you can be there in spirit! </h4>

        <h5> [Name of the Couple] </h5>

        <button class="btnHome"><a asp-controller="Home" asp-action="Index" ></a> Home </button>

        <button class="btnEditResponse"><a asp-controller="GuestList" asp-action="Edit"></a></button>
        
    </div>


}
