@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <br />
    <br />

    <h2>Welcome to our Wedding </h2>

    <img src ="~/images/Couple1.jpg" alt="Picture of Newlywed couple" height="400" width="700"/>

    <br />
        
    <h1 id="Home">This page is currently under construction</h1>
    <h3 id="Home">Please check back later </h3>



</div>
